{%extends "layout.html"%}
{%block content%}
        
    <div class="main container-fluid">
        <!-- Title -->
        <div class="container-fluid ">
            <h2 class="text-center m-3">Login</h2>
        </div>
        
        <!-- Registration Form -->
        <form action="/login" method="post" class="border border-black rounded p-3 row g-3 m-5 container" id="form">
            <div class="col-md-6">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="email address">
            </div>
            <div class="col-md-6">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="password">
            </div>

            <div class="col-12">
            </div>

            <!-- Buttons -->
            <div class="d-inline-flex">
                <div class="col-6">
                    <button type="submit" class="btn btn-primary">Log in</button>
                </div>
                <div class="col-6">
                    <button type="button" class="btn btn-primary"> <a href="/register"
                            class="text-light text-decoration-none">Sign up</a></button>
                </div>

            </div>

        </form>
    </div>
    {%endblock%}