{%extends "layout.html"%}
{%block content%}
<div class="main d-grid m-1">

    <div class="container text-center mt-5 py-5" id="home">
        <h1>Products</h1>
        <div class="flash">
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            <ul class="flashes, list-unstyled">
                {% for category, message in messages %}
                <li class=" alert alert-{{ category }} ">{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}
        </div>
        <!-- Button trigger modal -->
        <button type="button" class=" text-center btn-outline-light btn-sm ms-3 w-25 " data-bs-toggle="modal"
            data-bs-target="#SubscribeModal">
            Add Products
        </button>
    </div>

    <table border="" class="table" id="productstable">
        <thead>
            <tr>
                <th>id</th>
                <th>Product name</th>
                <th>Buying price</th>
                <th>Selling price</th>
                <th>Edit</th>
            </tr>
        </thead>
        <tbody>
            {%for product in products%}
            <tr>
                <td>{{product[0]}}</td>
                <td>{{product[1]}}</td>
                <td>{{product[2]}}</td>
                <td>{{product[3]}}</td>
                <td><!-- Button trigger modal for editing -->
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editproduct{{product[0]}}">
                        Edit
                    </button>
                    <!-- Modal -->
                    <div class="modal fade" id="editproduct{{product[0]}}" tabindex="-1" aria-labelledby="SubscribeModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="SubscribeModalLabel">Add products</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form action="/update_product" method="post" class="form-control">
                                        <input type="hidden" name="id" value="{{product[0]}}">
                                        <label for="Name" class="form-label">Product Name</label>
                                        <input type="text" class="form-control" id="name" name='product_name'  value="{{product[1]}}" required>
                                        <label for="buying_p" class="form-label">Buying Price</label>
                                        <input type="number" class="form-control" id="buying_p" name="buying_price" value="{{product[2]}}"
                                            required>
                                        <label for="selling_p" class="form-label">Selling Price</label>
                                        <input type="number" class="form-control" id="selling_p" name="selling_price" value="{{product[3]}}"
                                            required>
                                        <button type="submit" class="btn btn-primary m-2">Edit</button>
                                        <button type="submit" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Cancel</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            {%endfor%}
        </tbody>

    </table>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
    integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="//cdn.datatables.net/2.3.4/js/dataTables.min.js"></script>

<!-- Modal -->
<div class="modal fade" id="SubscribeModal" tabindex="-1" aria-labelledby="SubscribeModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="SubscribeModalLabel">Add products</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="/add_products" method="post" class="form-control">
                    <label for="Name" class="form-label">Product Name</label>
                    <input type="text" class="form-control" id="Name" name='product_name' required>
                    <label for="buying_p" class="form-label">Buying Price</label>
                    <input type="number" class="form-control" id="buying_p" name="buying_price" required>
                    <label for="selling_p" class="form-label">Selling Price</label>
                    <input type="number" class="form-control" id="selling_p" name="selling_price" required>
                    <button type="submit" class="btn btn-primary m-2">Add Products</button>
                    <button type="submit" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                </form>
            </div>
        </div>
    </div>
</div>
{%endblock%}