{%extends "layout.html"%}
{%block content%}
<div class="register_body container-fluid vh-100 justify-content-center align-items-center bg-light">
    <!-- Title -->
    <div class="container-fluid ">
        <h2 class="text-center m-3">Register</h2>
    </div>
    <!-- Registration Form -->
    <form action="/register" method="post" class="border border-black rounded p-3 row g-3 m-5 container " id="form">
        <div class="col-12">
            <label for="full_name" class="form-label">Full name</label>
            <input type="text" class="form-control" id="full_name" name="full_name" placeholder="Your Full Names">
        </div>
        <div class="col-md-6">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="email address">
        </div>
        <div class="col-md-6">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="password">
        </div>

        <!-- Buttons -->
        <div class="d-inline-flex">
            <div class="col-6">
                <button type="submit" class="btn btn-primary">Sign up</button>
            </div>
        </div>

    </form>
</div>
{%endblock%}