{%extends "layout.html"%}
{%block content%}
       <div class="container-fluid text-center my-5 py-3">
            <h1>Stocks</h1>
            <!-- flash Message -->
             <div class="flash">
                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                <ul class="flashes, list-unstyled">
                    {% for category, message in messages %}
                    <li class=" alert alert-{{ category }} ">{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
                {% endwith %}
            </div>
            <!-- Button trigger modal -->
            <button type="button" class=" text-center btn-outline-light btn-sm ms-3 w-25 m-4" data-bs-toggle="modal"
                data-bs-target="#SubscribeModal">
                New Stock
            </button>
        </div>
        <table border="" class="table" id="stockstable">
            <thead>

                <tr>
                    <th>Stock ID</th>
                    <th>Product ID</th>
                    <th>Stock Quantity</th>
                </tr>
            </thead>
            <tbody>
                {%for stock in stocks%}
                <tr>
                    <td>{{stock[0]}}</td>
                    <td>{{stock[1]}}</td>
                    <td>{{stock[2]}}</td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
        integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="//cdn.datatables.net/2.3.4/js/dataTables.min.js"></script>

    <!-- Modal -->
    <div class="modal fade" id="SubscribeModal" tabindex="-1" aria-labelledby="SubscribeModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="SubscribeModalLabel">Add Stock</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="/add_stock" method="post" class="form-control">
                        <label for="pid" class="form-label">Choose a Product</label>
                        <select name='pid' id='pid'>
                            {% for products in products %}
                            <option value="{{products[0]}}">{{products[1]}}</option>
                            {%endfor%}
                        </select><br>
                        <label for="st.quantity" class="form-label"> Stock Quantity </label>
                        <input type="number" class="form-control" id="st.quantity" name="st.quantity" required>
                        <button type="submit" class="btn btn-primary m-2">Add Stock</button>
                        <button type="submit" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>

                    </form>
                </div>
            </div>
        </div>
    </div>
   {%endblock%}